.color {
  &--primary {
    background-color: var(--color-primary);
  }
  &--secondary {
    background-color: var(--color-secondary);
  }
  &--white {
    background-color: var(--color-white);

    &:hover {
      color: var(--color-gray-100);
    }
    &:focus {
      color: var(--color-gray-200);
    }
  }
  &--black {
    background-color: var(--color-black);
    &:hover {
      color: var(--color-gray-800);
    }
    &:focus {
      color: var(--color-gray-900);
    }
  }
  &--text {
    &--primary {
      color: var(--color-primary);
      &:hover {
        color: var(--color-primary);
      }
      &:focus {
        color: var(--color-primary);
      }
    }
    &--secondary {
      color: var(--color-secondary);
      &:hover {
        color: var(--color-secondary);
      }
      &:focus {
        color: var(--color-secondary);
      }
    }
    &--white {
      color: var(--color-white);
      &:hover {
        color: var(--color-white);
      }
      &:focus {
        color: var(--color-white);
      }
    }
    &--black {
      color: var(--color-black);
      &:hover {
        color: var(--color-black);
      }
      &:focus {
        color: var(--color-black);
      }
    }
  }

  &--background {
    @each $color, $value in $colors-theme {
      &#{'--' + $color} {
        background-color: #{$value};
      }
    }
  }

  &--text {
    &--primary {
      color: var(--color-primary);
    }
    &--secondary {
      color: var(--color-secondary);
    }
    @each $color, $value in $colors-theme {
      &#{'--' + $color} {
        color: #{$value};
      }
    }
  }

  &--border {
    &--primary {
      border: 1px solid var(--color-primary);
    }
    &--secondary {
      border: 1px solid var(--color-secondary);
    }
    @each $color, $value in $colors-theme {
      &#{'--' + $color} {
        border: 1px solid #{$value};
      }
    }
  }

  &--fill {
    &--primary {
      fill: var(--color-primary);
    }
    &--secondary {
      fill: var(--color-secondary);
    }
    @each $color, $value in $colors-theme {
      &#{'--' + $color} {
        fill: var(--color-#{$color});
      }
    }
  }

  @each $prop, $color in $colors {
    &#{'--' + $prop} {
      background-color: var(--color-#{$color});
      &:hover {
        background-color: var(--color-#{$color}-400);
      }
      &:focus {
        background-color: var(--color-#{$color}-600);
      }
    }
    &--text {
      &#{'--' + $prop} {
        color: var(--color-#{$color}) !important;
        &:hover {
          color: var(--color-#{$color}-400);
        }
        &:focus {
          color: var(--color-#{$color}-600);
        }
      }
    }
    &--flat {
      &#{'--' + $prop} {
        background-color: var(--color-transparent);
        color: var(--color-#{$color});
        &:hover {
          color: var(--color-#{$color}-400);
        }
        &:focus {
          color: var(--color-#{$color}-600);
        }
      }
    }
    &--outline {
      &#{'--' + $prop} {
        background-color: var(--color-transparent);
        color: var(--color-#{$color});
        border-width: 1px;
        border-style: solid;
        border-color: var(--color-#{$color});
        &:hover {
          color: var(--color-#{$color}-400);
          border-width: 1px;
          border-style: solid;
          border-color: var(--color-#{$color}-400);
        }
        &:focus {
          color: var(--color-#{$color}-600);
          border-width: 1px;
          border-style: solid;
          border-color: var(--color-#{$color}-600);
        }
      }
    }
    &--default {
      &#{'--' + $prop} {
        background-color: var(--color-#{$color});
        &:hover {
          background-color: var(--color-#{$color}-400);
        }
        &:focus {
          background-color: var(--color-#{$color}-600);
        }
      }
    }
  }
  &--flat {
    &--primary {
      color: var(--color-primary);
      background-color: var(--color-transparent);
      &:hover {
        color: var(--color-primary-light);
      }
      &:focus {
        color: var(--color-primary-dark);
      }
    }
    &--secondary {
      color: var(--color-secondary);
      background-color: var(--color-transparent);
      &:hover {
        color: var(--color-secondary-light);
      }
      &:focus {
        color: var(--color-secondary-dark);
      }
    }
  }
  &--outline {
    &--primary {
      color: var(--color-primary);
      border-color: var(--color-primary);
      border-width: 1px;
      background-color: var(--color-transparent);
      &:hover {
        color: var(--color-primary-light);
        border-color: var(--color-primary-light);
      }
      &:focus {
        color: var(--color-primary-dark);
        border-color: var(--color-primary-dark);
      }
    }
    &--secondary {
      color: var(--color-secondary);
      background-color: var(--color-transparent);
      &:hover {
        color: var(--color-secondary-light);
      }
      &:focus {
        color: var(--color-secondary-dark);
      }
    }
  }
  &--default {
    &--primary {
      background-color: var(--color-primary);
      color: var(--color-white);
      &:hover {
        background-color: var(--color-primary-light);
      }
      &:focus {
        background-color: var(--color-primary-dark);
      }
    }
    &--secondary {
      background-color: var(--color-secondary);
      color: var(--color-white);
      &:hover {
        color: var(--color-secondary-light);
      }
      &:focus {
        color: var(--color-secondary-dark);
      }
    }
  }
}
