.p {
  @each $size, $value in $spacingSizes {
    &--#{$size} {
      padding: #{$value};
    }
  }

  &-t {
    @each $size, $value in $spacingSizes {
      &--#{$size} {
        padding-top: #{$value};
      }
    }
  }

  &-r {
    @each $size, $value in $spacingSizes {
      &--#{$size} {
        padding-right: #{$value};
      }
    }
  }

  &-b {
    @each $size, $value in $spacingSizes {
      &--#{$size} {
        padding-bottom: #{$value};
      }
    }
  }

  &-l {
    @each $size, $value in $spacingSizes {
      &--#{$size} {
        padding-left: #{$value};
      }
    }
  }

  &-y {
    @each $size, $value in $spacingSizes {
      &--#{$size} {
        padding-top: #{$value};
        padding-bottom: #{$value};
      }
    }
  }

  &-x {
    @each $size, $value in $spacingSizes {
      &--#{$size} {
        padding-right: #{$value};
        padding-left: #{$value};
      }
    }
  }
}

.m {
  @each $size, $value in $spacingSizes {
    &--#{$size} {
      margin: #{$value};
    }
  }

  &-t {
    @each $size, $value in $spacingSizes {
      &--#{$size} {
        margin-top: #{$value};
      }
    }
  }

  &-r {
    @each $size, $value in $spacingSizes {
      &--#{$size} {
        margin-right: #{$value};
      }
    }
  }

  &-b {
    @each $size, $value in $spacingSizes {
      &--#{$size} {
        margin-bottom: #{$value};
      }
    }
  }

  &-l {
    @each $size, $value in $spacingSizes {
      &--#{$size} {
        margin-left: #{$value};
      }
    }
  }

  &-y {
    @each $size, $value in $spacingSizes {
      &--#{$size} {
        margin-top: #{$value};
        margin-bottom: #{$value};
      }
    }
  }

  &-x {
    @each $size, $value in $spacingSizes {
      &--#{$size} {
        margin-right: #{$value};
        margin-left: #{$value};
      }
    }
  }
}

.br {
  @each $size, $value in $borderRadius {
    &--#{$size} {
      border-radius: #{$value};
    }
  }
}
