@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

@import "~tailwindcss/base";

body {
  @apply font-secondary text-base
}

h1, h2, h3, h4, h5, h6, button, a {
  @apply font-primary
}

h1 {
  @apply text-6xl
}
h2 {
  @apply text-5xl
}
h3 {
  @apply text-4xl
}
h4 {
  @apply text-3xl
}
h5 {
  @apply text-2xl
}
h6 {
  @apply text-xl
}


@screen sm {}
@screen md {}

@screen lg {
  *, *::before, *::after {
    font-size: 14px
  }
}
@screen xl {
  *, *::before, *::after {
    font-size: 14px
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@import "~tailwindcss/utilities";
@import "~tailwindcss/components";
