$transition: all 0.2s ease-out;

.slide {
  &-up {
    &-enter-active {
      transition: $transition;
    }
    &-leave-active {
      transition: $transition;
    }
    &-enter {
      opacity: 0;
      transform: translateY(45px);
    }
    &-leave-to {
      opacity: 0;
      transform: translateY(45px);
    }
  }
  &-down {
    &-enter-active {
      transition: $transition;
    }
    &-leave-active {
      transition: $transition;
    }
    &-enter {
      opacity: 0;
      transform: translateY(-35px);
    }
    &-leave-to {
      opacity: 0;
      transform: translateY(-35px);
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade {
  &-in {
    &-enter-active {
      opacity: 0;
    }
    &-leave-active {
      opacity: 0;
    }
    &-enter {
      transition: opacity .25s;
    }
    &-leave-to {
      transition: opacity .25s;
    }
  }
  &-out {
    &-enter-active {
      transition: opacity .25s;
    }
    &-leave-active {
      transition: opacity .25s;
    }
    &-enter {
      opacity: 0;
    }
    &-leave-to {
      opacity: 0;
    }
  }
}