$color-primary: #805AD5;
$color-primary-light: lighten($color-primary, 5%);
$color-primary-dark: darken($color-primary, 5%);
$color-secondary: #3182CE;
$color-secondary-light: lighten($color-secondary, 5%);
$color-secondary-dark: darken($color-secondary, 5%);
$color-light: #F7FAFC;
$color-dark: #1A202C;

:root {
  --color-primary:  #{$color-primary};
  --color-primary-light: #{$color-primary-light};
  --color-primary-dark: #{$color-primary-dark};
  --color-secondary:  #{$color-secondary};
  --color-secondary-light: #{$color-secondary-light};
  --color-secondary-dark: #{$color-secondary-dark};
  --color-light: #{$color-light};
  --color-dark: #{$color-dark};
}