:root {
  --color-primary: #78909c;
  --color-primary-light: #a7c0cd;
  --color-primary-dark: #4b636e;
  --color-secondary: #e0e0e0;
  --color-secondary-light: #ffffff;
  --color-secondary-dark: #aeaeae;
  --color-light: #f8f9fa;
}