:root {
  --color-primary: #78909c;
  --color-primary-lighter: #a7c0cd;
  --color-primary-dark: #4b636e;
  --color-secondary: #e0e0e0;
  --color-secondary-lighter: #ffffff;
  --color-secondary-dark: #aeaeae;
  --color-white: #ffffff;
  --color-lighter: #f8f9fa;
  --color-light: #e9ecef;
  --color-black: #000000;
}